.main {
	display: grid;
	grid-template-columns: minmax(200px, 25%) 1fr minmax(200px, 25%);
	grid-template-rows: minmax(100px, 10%) 1fr;
	grid-template-areas:
		'sidebar_left heading sidebar_right'
		'sidebar_left posts sidebar_right';
	gap: 10px;
	margin: 50px;
	padding: 5px;
	color: rgb(217, 255, 0);
	background-color: green;
}

.heading {
	grid-area: heading;
	display: flex;
	flex-direction: column;
	background-color: #ffae00;
	padding: 5px;
	margin: 20px;
	color: white;
	justify-content: center;
	align-items: center;
}

.posts {
	grid-area: posts;
}

.card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: auto; */
	/* justify-content: center; */
	align-items: center;
	margin: 1rem;
	padding: 1rem;
	/* text-align: left; */
	/* color: inherit; */
	border-radius: 10px;
	border: 1px solid darkorange;
	transition: color 0.15s ease, border-color 0.15s ease;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.cardText {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 8px;
}

.scroll {
	overflow: scroll;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.card:hover,
.card:focus,
.card:active {
	color: rgb(179, 179, 179);
	border-color: rgb(179, 179, 179);
}

/* .card h3 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
} */

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
