.footer {
	/* display: block; */
	height: 50px;
	width: 100%;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	margin-top: auto;
	background-color: rgb(165, 165, 165);
	border-top: 1px solid red;
}

.footer p {
	font-size: medium;
	font-weight: 600;
	color: #000;
	margin: 20px;
}
