.footer {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
	background-color: rgb(179, 179, 179);
	border-top: 1px solid red;
}

.footer p {
	margin-left: 10px;
	margin-right: 10px;
}

.copyright {
	margin-right: auto;
	font-size: 0.8rem;
	font-weight: 600;
	color: rgb(73, 73, 73);
}
.credit {
	/* margin-left: auto; */
	margin-right: 20px;
	font-size: 0.8rem;
	font-weight: 600;
	color: rgb(73, 73, 73);
}

.logo {
	padding-right: 30px;
}
