.footer2 {
	display: block;
	text-align: center;
	padding: 30px 0;
	margin-top: 60px;
	color: #777;
	border-top: 1px solid #eaeaea;
}

.footer {
	padding: 10px 0;
	margin-top: 60px;
	background-color: #777;
	border-top: 5px solid darkorange;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'IBM Plex Sans';
}

.footer p {
	font-size: small;
}

.logo {
	margin: 70px;
}
