.main {
	display: grid;
	grid-template-columns: minmax(200px, 25%) 1fr minmax(200px, 25%);
	grid-template-rows: minmax(100px, 10%) 1fr;
	grid-template-areas:
		'sidebar_left heading sidebar_right'
		'sidebar_left content sidebar_right';
	gap: 10px;
	margin: 50px;
	padding: 5px;
	color: rgb(217, 255, 0);
	background-color: green;
}

.heading {
	grid-area: heading;
	background-color: #ffae00;
	padding: 5px;
	margin: 20px;
	color: white;
	text-align: center;
}

.content {
	grid-area: content;
	/* max-width: 500px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}

/* .title {
	color: #ff8c00;
	padding-bottom: 20px;
	text-align: center;
} */
