.nav {
	margin: 0px auto 20px;
	padding: 5px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: rgb(165, 165, 165);
	border-bottom: 3px solid #ff8c00;
}

.logo {
	margin-right: auto;
	padding-left: 20px;
	font-family: 'IBM Plex Sans';
}

.nav a {
	/* margin-left: 12px; */
	margin-right: 55px;
	font-family: 'IBM Plex Sans';
	text-decoration: none;
}

.nav a:hover {
	text-decoration: underline;
}
