.postContainer {
	/* min-height: calc(100vh - 100px); */
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 1000px;
	padding-top: 90px;
	/* text-align: center; */
}

.main {
	/* min-height: calc(100vh - 100px); */
	width: 800px;
	/* padding: 5rem 0; */
	/* margin-right: 100px; */
	padding: 3.5rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.heading2Xl {
	font-size: 2.5rem;
	line-height: 1.2;
	font-weight: 800;
	letter-spacing: -0.05rem;
	margin: 0.5rem 0;
}

.headingXl {
	font-size: 2rem;
	color: #ff8c00;
	line-height: 1.3;
	font-weight: 800;
	letter-spacing: -0.05rem;
	margin: 0.5rem 0;
}

.headingLg {
	font-size: 1.5rem;
	line-height: 1.4;
	margin: 1rem 0;
}

.headingMd {
	font-size: 1.2rem;
	line-height: 1.5;
}

.calendar {
	/* margin-bottom: 50px; */
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.2;
	margin: 0.5rem 0;
}

.photo {
	border-radius: 10px;
	border: 1px solid #ff8c00;
	transition: color 0.15s ease, border-color 0.15s ease;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.border-circle {
	border-radius: 9999px;
}

.colorInherit {
	color: inherit;
}

.padding1px {
	padding-top: 1px;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.listItem {
	margin: 0 0 1.25rem;
}

.lightText {
	color: #999999;
}
